.header
  %p multiple-img-js
.main 
  =form_with html: {class: "form"}do |f|
    %a{href:'#',class:"btn btn-custom01", id:'trigger'}
      %span.btn-custom01-front PUSH
    .img-box
    = f.file_field :hoge,class:'form__file-input'