* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #404040;
}

.header {
  width: 100%;
  height: 80px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 60px;
  display: flex;
  justify-content: center;
  .form {
    width: 50%;
    height: 50%;
    text-align: center;
    .img-box {
      width: 100%;
      height: 200px;
      margin-bottom: 30px;
      background: rgba(0, 0, 0, 0.1);
      display: flex;
      margin-top: 50px;
      &__element {
        width: calc(100% / 3);
        height: 100%;
      }
    }
    input {
      display: none;
    }
  }
}
